<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.mmtbackend.mapper.c.DefaultQuestionStateMapper">
    <resultMap id="BaseResultMap" type="com.sipc.mmtbackend.pojo.c.domain.DefaultQuestionState">
        <id column="admission_id" jdbcType="INTEGER" property="admissionId"/>
        <result column="stu_class" jdbcType="INTEGER" property="stuClass"/>
        <result column="academy" jdbcType="INTEGER" property="academy"/>
        <result column="major" jdbcType="INTEGER" property="major"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="qq" jdbcType="INTEGER" property="qq"/>
        <result column="mail" jdbcType="INTEGER" property="mail"/>
        <result column="birthday" jdbcType="INTEGER" property="birthday"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
    </resultMap>

    <insert id="insert" parameterType="com.sipc.mmtbackend.pojo.c.domain.DefaultQuestionState">
        insert into default_question_state (admission_id, stu_class, academy, major, gender, qq, mail, birthday,
                                            height, weight)
        values (#{admissionId,jdbcType=INTEGER}, #{stuClass,jdbcType=INTEGER}, #{academy,jdbcType=INTEGER},
                #{major,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, #{qq,jdbcType=INTEGER}, #{mail,jdbcType=INTEGER},
                #{birthday,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER})
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultType="com.sipc.mmtbackend.pojo.c.domain.DefaultQuestionState">
        select *
        from default_question_state
        where admission_id = #{admissionId,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.sipc.mmtbackend.pojo.c.domain.DefaultQuestionState">
        update default_question_state
        set admission_id = #{admissionId,jdbcType=INTEGER},
            stu_class    = #{stuClass,jdbcType=INTEGER},
            academy      = #{academy,jdbcType=INTEGER},
            major        = #{major,jdbcType=INTEGER},
            gender       = #{gender,jdbcType=INTEGER},
            qq           = #{qq,jdbcType=INTEGER},
            mail         = #{mail,jdbcType=INTEGER},
            birthday     = #{birthday,jdbcType=INTEGER},
            height       = #{height,jdbcType=INTEGER},
            weight       = #{weight,jdbcType=INTEGER}
        where admission_id = #{admissionId,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from default_question_state
        where admission_id = #{admissionId,jdbcType=INTEGER}
    </delete>

    <select id="selectByAdmissionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from default_question_state
        where admission_id = #{admissionId,jdbcType=INTEGER}
    </select>

    <select id="selectByAdmissionIdOrderById" parameterType="java.lang.Integer"
            resultType="com.sipc.mmtbackend.pojo.c.domain.DefaultQuestionState">
        select *
        from default_question_state
        where admission_id = #{admissionId,jdbcType=INTEGER}
        order by admission_id desc
        limit 1
    </select>
    <!--TODO:foreach有问题-->
    <!--    <insert id="insertByList">-->
    <!--        insert into default_question_state-->
    <!--            <foreach item="item" collection="list" separator=",">-->
    <!--                <if test="#{item} == 'qq'">-->
    <!--                    <set>-->
    <!--                        qq = 1-->
    <!--                    </set>-->
    <!--                </if>-->
    <!--            </foreach>-->
    <!--    </insert>-->

</mapper>