<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sipc.mmtbackend.mapper.InterviewBoardDataMapper">
    <resultMap id="LineChartLineData" type="com.sipc.mmtbackend.pojo.domain.po.InterviewBoardPo.LineChartLineDataDaoPo">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <collection property="data"
                    ofType="com.sipc.mmtbackend.pojo.domain.po.InterviewBoardPo.LineChartLineDataPDaoPo">
            <result column="date" property="date" jdbcType="VARCHAR"/>
            <result column="number" property="number" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <select id="selectSignInPersonNumberGroupByDepartmentByAndAdmissionId"
            resultType="com.sipc.mmtbackend.pojo.domain.po.InterviewBoardPo.PersonNumGroupByDepartmentPo">
        SELECT `name` AS "departmentName",
               z      AS "number",
               x      AS "firstChoiceNum"
        FROM (
            SELECT department_id, COUNT(1) AS z
            FROM user_volunteer
            WHERE is_deleted != 1
                AND admission_id = #{admissionId,jdbcType=INTEGER}
            GROUP BY department_id) AS zml
            LEFT JOIN (
                    SELECT department_id, COUNT(1) AS x
                    FROM user_volunteer
                    WHERE is_deleted != 1
                    	AND organization_order = 1
		                AND department_order = 1
		                AND admission_id = #{admissionId,jdbcType=INTEGER}
                   GROUP BY
                       department_id) AS xq
            ON zml.department_id = xq.department_id
            LEFT JOIN department ON zml.department_id = department.id
        WHERE department.is_deleted != 1
    </select>
    <select id="selectTotalNumByDepartmentIdAndAdmissionId"
            resultType="com.sipc.mmtbackend.pojo.domain.po.InterviewBoardPo.TotalNumPo">
        SELECT
            uva.c AS "totalNum",
            uvb.c AS "firstChoiceNum"
        FROM (
            SELECT
                COUNT( 1 ) c
            FROM
                user_volunteer uv
            WHERE
                uv.is_deleted != 1
                AND uv.admission_id = #{admissionId,jdbcType=INTEGER}
        <if test="departmentId != null and departmentId > 0">
                AND uv.department_id = #{departmentId,jdbcType=INTEGER}
        </if>
            GROUP BY
                uv.admission_id
        ) AS uva, (
            SELECT
                COUNT( 1 ) c
            FROM
                user_volunteer uv
            WHERE
                uv.is_deleted != 1
                AND uv.admission_id = #{admissionId,jdbcType=INTEGER}
        <if test="departmentId != null and departmentId > 0">
                AND uv.department_id = #{departmentId,jdbcType=INTEGER}
        </if>
                AND uv.department_order = 1
                AND uv.organization_order = 1
            GROUP BY
                uv.admission_id
        ) AS uvb
    </select>
    <select id="selectInterviewNumberLineChartGroupByDepartmentDataByOrganizationIdAndAdmissionId"
            resultMap="LineChartLineData">
        SELECT xq.`name`  AS "name",
               xq.`date`  AS "date",
               zml.number AS "number"
        FROM (
                SELECT d.id,
                       d.`name`,
                       t.`date`
                FROM (
                        SELECT id,
                               `name`
                        FROM department d
                        WHERE d.is_deleted != 1
                            AND d.organization_id = #{organizationId,jdbcType=INTEGER}
                        ) AS `d`
                LEFT JOIN (
                            SELECT DISTINCT DATE_FORMAT(register_time, "%m-%d") AS "date"
                            FROM user_volunteer u
                            WHERE u.is_deleted != 1
                                AND u.admission_id = #{admissionId,jdbcType=INTEGER}
                            ) AS `t`
                ON 114 != 514
        ) AS `xq`
        LEFT JOIN (
                    SELECT COUNT(1) AS "number",
                           department_id,
                           DATE_FORMAT(register_time, "%m-%d") AS "date"
                    FROM user_volunteer uv
                    WHERE uv.is_deleted != 1
                    		AND uv.admission_id = #{admissionId,jdbcType=INTEGER}
                    GROUP BY
                        department_id,
                        `date`
                    ORDER BY
                        department_id,
                        `date`
                    ) AS `zml`
        ON xq.`date` = zml.`date`
               AND xq.id = zml.department_id
    </select>
    <select id="selectNumberGroupByOrderByAdmissionIdAndDepartmentId"
            resultType="com.sipc.mmtbackend.pojo.domain.po.InterviewBoardPo.PersonNumGroupByOrderPo">
        SELECT
            u.do AS "orderNum",
            COUNT( 1 ) AS "number"
        FROM
            user_volunteer u
        WHERE
            u.is_deleted != 1
            	AND u.admission_id = #{admissionId,jdbcType=INTEGER}
            	AND u.department_id = #{departmentId,jdbcType=INTEGER}
        GROUP BY
            u.department_order do
    </select>
    <select id="selectInterviewNumberLineChartGroupByDataByDepartmentIdIdAndAdmissionId"
            resultMap="LineChartLineData">
        SELECT xq.`name`  AS "name",
               xq.`date`  AS "date",
               zml.number AS "number"
        FROM (
                 SELECT w.id,
                        w.`name`,
                        t.`date`
                 FROM (
                          SELECT u.department_order AS `id`, CONCAT("第", u.department_order, "志愿") AS `name`
                          FROM user_volunteer u
                          WHERE u.is_deleted != 1
								    AND u.admission_id = 1
										AND u.department_id = 2
                          GROUP BY u.department_order
                      ) AS `w`
                          LEFT JOIN (
                     SELECT DISTINCT DATE_FORMAT(register_time, "%m-%d") AS "date"
                     FROM user_volunteer u
                     WHERE u.is_deleted != 1
                        AND u.admission_id = 1
												AND u.department_id = 1 ) AS `t`
                                    ON 114 != 514
             ) AS `xq`
                 LEFT JOIN (
            SELECT COUNT(1) AS "number",
                   department_order,
                   DATE_FORMAT(register_time, "%m-%d") AS "date"
            FROM user_volunteer uv
            WHERE uv.is_deleted != 1
            		AND uv.admission_id = 1
            GROUP BY
                department_order,
                `date`
            ORDER BY
                department_order,
                `date`
        ) AS `zml`
                           ON xq.`date` = zml.`date`
                               AND xq.id = zml.department_order
    </select>
</mapper>