<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.mmtbackend.mapper.InterviewStatusMapper">
    <insert id="insertUserIdAndUserIdAndRoundAndAdmissionIdAndDepartmentId">
        insert into interview_status(user_id, round, admission_id, department_id, organization_order, department_order)
        values (#{userId,jdbcType=INTEGER}, #{round,jdbcType=INTEGER}, #{admissionId,jdbcType=INTEGER},
                #{departmentId,jdbcType=INTEGER}, #{organizationOrder,jdbcType=INTEGER}, #{departmentOrder,jdbcType=INTEGER})
    </insert>
    <update id="updateByRAdmissionAddress">
        update interview_status
        set admission_address_id = null, start_time = null, end_time = null,
            state = 2
        where admission_address_id = #{addressId,jdbcType=INTEGER}
            and round = #{round,jdbcType=INTEGER}
            and (state = 3 or state = 4)

            and is_deleted = 0
    </update>
    <delete id="deleteByUserIdAndAdmissionId">
        delete
        from interview_status
        where user_id = #{userId,jdbcType=INTEGER}
          and admission_id = #{admissionId,jdbcType=INTEGER}
    </delete>

<!--    <select id="selectAllArrange" resultType="com.sipc.mmtbackend.pojo.domain.InterviewStatus">-->
<!--        SELECT i.department_id        as departmentId,-->
<!--               i.start_time           as startTime,-->
<!--               i.round                as round,-->
<!--               i.state                as `status`,-->
<!--               i.admission_address_id as admissionAddressId-->
<!--        from user_info u-->
<!--                 LEFT JOIN interview_status i on u.id = i.user_id-->
<!--        where u.student_id = #{studetId}-->
<!--    </select>-->

    <select id="selectAllArrange" resultType="com.sipc.mmtbackend.pojo.domain.InterviewStatus">
        SELECT *
        from user_info u
                 LEFT JOIN interview_status i on u.id = i.user_id
        where u.student_id = #{studetId}
    </select>

</mapper>
