<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.mmtbackend.mapper.MessageMapper">
    <insert id="insertMessage">
        insert into message(message, time, state, is_read, organization_id, user_id, type, interview_status_id)
        values (#{message}, #{time}, #{state}, #{isRead}, #{organizationId}, #{userId}, #{type}, #{interviewStatusId})
    </insert>
    <insert id="insertRAddress">
        insert into message (message, time, state, is_read, organization_id, user_id, type, interview_status_id, is_deleted)
        values
            <foreach collection="list" separator="," item="item">
                ('您的面试地点已经变更,请等待进一步通知', #{time}, 0, 0, #{item.organization_id}, #{item.user_id}, 2, #{item.id}, 0)
            </foreach>
    </insert>
    <update id="updateIsRead">
        update message
        set is_read = 2
        where id = #{messageId}
    </update>
    <update id="updateState">
        update message
        set state = #{status}
        where id = #{messageId}
    </update>
    <select id="selectNewestMessageByUserId" resultType="com.sipc.mmtbackend.pojo.c.domain.po.Message.MessagePo">
        SELECT
            *
        FROM
            (
                SELECT
                    m.message,
                    m.TIME,
                    o.NAME,
                    o.id AS organizationId,
                    o.avatar_id AS avatarUrl
                FROM
                    message m
                        LEFT JOIN organization o ON m.organization_id = o.id
                WHERE
                        m.id IN (
                        SELECT
                            max( m.id )
                        FROM
                            message m
                                LEFT JOIN organization o ON m.organization_id = o.id
                        WHERE
                            m.user_id = #{userId,jdbcType=INTEGER}
                          AND m.is_deleted != 1
                  AND o.is_deleted != 1
                GROUP BY
                    m.organization_id
            )) AS result
        ORDER BY
            result.`time` DESC;
    </select>
    <select id="selectCountForUnreadMessage" resultType="java.lang.Integer">
        select COUNT(m.id)
        from message m
        where m.is_read = 1
          and m.user_id = #{id}
          and m.organization_id = #{organizationId}
          and m.is_deleted != 1
          and not type = 3
    </select>
    <select id="selectMessageByOrganizationIdAndUserId" resultType="com.sipc.mmtbackend.pojo.domain.Message">
        select *
        from message
        where organization_id = #{id}
          and user_id = #{userId}
          and is_deleted != 1
        order by message.time
    </select>
    <select id="selectByPrimaryId" resultType="com.sipc.mmtbackend.pojo.domain.Message">
        select *
        from message
        where id = #{messageId}
          and is_deleted != 1
    </select>
</mapper>
