<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.mmtbackend.mapper.customization.MyQuestionScoreMapper">
    <select id="selectPoAllByQuestionId"
            resultType="com.sipc.mmtbackend.pojo.domain.po.interviewReview.QuestionScorePo">
        select interview_status_id as user_id, interview_question_id, avg(score) as score
        from question_score
        <if test="questionIds.size() != 0">
            where interview_question_id in
            <foreach collection="questionIds" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
        group by interview_status_id, interview_question_id
    </select>
</mapper>